body {
    margin: 0;
    /* background-color: #1C1C1C; */
    color: white;
    font-family: 'Inter', sans-serif;
    background: url("./background.gif");
}

.title {
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    font-size: 2.5rem;
}

#description {
    font-size: 1.25rem;
}

.green-text {
    color: #10B981;
}

#gen-pass-btn {
    background: #10B981;
    color: white;
    padding: 0.625em 1.25em;
    border-radius: 5px;
    border: none;
    margin: 1.25em 0;
    cursor: pointer;
}

#gen-pass-btn:hover, 
#passwordOne:hover,
#passwordTwo:hover {
    box-shadow: 0px 0px 5px white;
    text-shadow: 0px 0px 5px black;

}

#passwordOne, #passwordTwo{
    background: #273549;
    width: 13.1875em;
    height: 1.25em;
    border-radius: 5px;
    margin: 0.625em 0.625em 0px 0px;
    text-align: center;
    padding: 0.625em 1.25em;
    cursor: pointer;
}

#pass-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

#container {
    background: #1F2937;
    width: 70%;
    margin: 10rem auto;
    padding: 1.875em;
}


@media (max-width: 600px) {
    body {
        background-size: cover;
    }
}